@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-link {
    @apply text-white/70 flex items-center justify-center rounded-full w-full h-full md:text-xl sm:text-sm lg:text-lg font-semibold hover:bg-white/20 hover:text-white/90 transition duration-300;
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
}

.marquee-content {
  display: flex;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
